In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
import webbrowser

In [6]:
website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'

In [7]:
website

'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'

In [8]:
webbrowser.open(website)

True

In [9]:
nflFrame = pd.read_clipboard()

D:\Users\joshi\Anaconda3\lib\site-packages\pandas\io\clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [11]:
nflFrame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East

In [14]:
nflFrame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [17]:
nflFrame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [19]:
DataFrame(nflFrame, columns=['Team','First NFL Season', 'GP','Stadium'])

                      Team  First NFL Season     GP  Stadium
0           Dallas Cowboys              1960    882      NaN
1        Green Bay Packers              1921  1,336      NaN
2            Chicago Bears              1920  1,370      NaN
3           Miami Dolphins              1966    800      NaN
4  New England Patriots[b]              1960    884      NaN

In [22]:
nflFrame.tail(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East

In [26]:
nflFrame.iloc[3]

Rank                             4
Team                Miami Dolphins
GP                             800
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Division                  AFC East
Name: 3, dtype: object

In [32]:
nflFrame['Stadium'] = np.arange(1,6)

In [33]:
nflFrame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East,1
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North,2
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North,3
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East,4
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East,5

In [39]:
stadium = Series(["Levis", "ATNT", "Verizon"],index=[3,2,1])

In [40]:
stadium

3      Levis
2       ATNT
1    Verizon
dtype: object

In [42]:
nflFrame['Stadium'] = stadium
nflFrame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East,NaN
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North,Verizon
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North,ATNT
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East,Levis
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East,NaN

In [46]:
nflFrame.del['Stadium']

SyntaxError: invalid syntax (<ipython-input-46-e22abd07c188>, line 1)

In [47]:
data = {'City':['SF','LA','NYC'], 'Population':[65461851,15316511,46516561]}

In [49]:
cityFrame = DataFrame(data)
cityFrame

  City  Population
0   SF    65461851
1   LA    15316511
2  NYC    46516561