In [16]:
import numpy as np
from pandas import DataFrame, Series
import pandas as pd

from numpy.random import randn

In [4]:
ser = Series(np.arange(3), index=['a','b','c'])

In [5]:
ser

a    0
b    1
c    2
dtype: int32

In [7]:
ser.drop('b')

a    0
c    2
dtype: int32

In [13]:
dframe = DataFrame(np.arange(9).reshape(3,3), index=['SF','LA','NY'], 
                   columns=['pop','size','year'])
dframe

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [15]:
dframe.drop('year',1)

    pop  size
SF    0     1
LA    3     4
NY    6     7

In [22]:
ser1 = Series(np.arange(3), index=['a','b','c'])

In [23]:
ser1 = 2*ser1
ser1

a    0
b    2
c    4
dtype: int32

In [25]:
ser1[1]

2

In [26]:
ser1[['a','b']]

a    0
b    2
dtype: int32

In [32]:
dframe1 = DataFrame(np.arange(25).reshape(5,5), index=['a','b','c','d','e'],
                   columns=["NYC","LA","TX","DC","FL"])
dframe1

   NYC  LA  TX  DC  FL
a    0   1   2   3   4
b    5   6   7   8   9
c   10  11  12  13  14
d   15  16  17  18  19
e   20  21  22  23  24

In [50]:
s1 = Series([0,1,2], index=['a','b','c'])
s2 = Series([3,4,5,6], index=['a','b','c','d'])
s1, s2

(a    0
 b    1
 c    2
 dtype: int64, a    3
 b    4
 c    5
 d    6
 dtype: int64)

In [51]:
s1 + s2

a    3.0
b    5.0
c    7.0
d    NaN
dtype: float64

In [62]:
s4 = Series(np.arange(3), index=["b","c","a"])
s4

b    0
c    1
a    2
dtype: int32

In [63]:
s4.sort_index()

a    2
b    0
c    1
dtype: int32

In [65]:
s4.sort_values()

b    0
c    1
a    2
dtype: int32

In [77]:
s5 = Series(randn(10))
s5

0    0.019533
1   -0.315487
2   -0.790233
3   -0.117400
4   -0.459567
5   -0.887000
6    0.384825
7   -0.358566
8    0.715812
9    0.117450
dtype: float64

In [78]:
s5.rank()

0     7.0
1     5.0
2     2.0
3     6.0
4     3.0
5     1.0
6     9.0
7     4.0
8    10.0
9     8.0
dtype: float64

In [85]:
s6 = Series(randn(10))
s6

0    1.225701
1    0.205224
2   -0.645555
3    0.196325
4   -0.884137
5   -0.360185
6   -1.024774
7    0.699278
8   -0.251827
9    0.329229
dtype: float64

In [80]:
s6.rank()

0     3.0
1    10.0
2     5.0
3     6.0
4     4.0
5     7.0
6     9.0
7     1.0
8     8.0
9     2.0
dtype: float64

In [91]:
s6 = s6.sort_values()
s6

6   -1.024774
4   -0.884137
2   -0.645555
5   -0.360185
8   -0.251827
3    0.196325
1    0.205224
9    0.329229
7    0.699278
0    1.225701
dtype: float64

In [92]:
s6.rank()

6     1.0
4     2.0
2     3.0
5     4.0
8     5.0
3     6.0
1     7.0
9     8.0
7     9.0
0    10.0
dtype: float64