In [3]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [8]:
dframe = pd.read_csv('data.csv.txt')
dframe

   q  w  e  r   apple
0  a  s  d  f    pear
1  1  2  3  4  rabbit
2  5  6  7  8     dog

In [10]:
dframe = pd.read_csv('data.csv.txt', header=None)
dframe

   0  1  2  3       4
0  q  w  e  r   apple
1  a  s  d  f    pear
2  1  2  3  4  rabbit
3  5  6  7  8     dog

In [11]:
pd.read_csv('data.csv.txt', header=None, nrows=2)

   0  1  2  3      4
0  q  w  e  r  apple
1  a  s  d  f   pear

In [12]:
dframe.to_csv('dataout.csv')

In [13]:
import sys

In [16]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_w_e_r_apple
1_a_s_d_f_pear
2_1_2_3_4_rabbit
3_5_6_7_8_dog

In [17]:
dframe.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,q,w,e
1,a,s,d
2,1,2,3
3,5,6,7

In [20]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,w,e,r,apple
1,a,s,d,f,pear
2,1,2,3,4,rabbit
3,5,6,7,8,dog

In [21]:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [22]:
import json

In [23]:
data = json.loads(json_obj)

In [24]:
data

{'zoo_animal': 'Lion',
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'clothes': None,
 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

In [26]:
dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle