In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
dframe = DataFrame({'k1':['x','x','y','y','z'],
                   'k2': ['alpha','beta','alpha','beta','alpha'],
                   'dataset1': np.random.randn(5),
                   'dataset2': np.random.randn(5)})

dframe

  k1     k2  dataset1  dataset2
0  x  alpha  0.545856  0.311051
1  x   beta  0.236844 -1.788143
2  y  alpha -1.376652  1.617946
3  y   beta -0.378323  1.862103
4  z  alpha  0.918810  0.755612

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [4]:
group1.mean()

k1
x    0.391350
y   -0.877488
z    0.918810
Name: dataset1, dtype: float64