In [45]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [ ]:
my_ser = Series([1,2,3,4],index=['a','b','c','d'])
my_ser

In [42]:
my_index = my_ser.index
my_index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [4]:
my_index[2]

'c'

In [5]:
my_index[2:]

Index(['c', 'd'], dtype='object')

In [16]:
my_ser2 = my_ser.reindex(['z','x','a','b','c'], fill_value=0)

In [17]:
my_ser2

z    0
x    0
a    1
b    2
c    3
dtype: int64

In [18]:
ser3 = Series(['USA','Canada','India'], index=[0,5,10])

In [19]:
ser3

0        USA
5     Canada
10     India
dtype: object

In [25]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Canada
6     Canada
7     Canada
8     Canada
9     Canada
10     India
11     India
12     India
13     India
14     India
dtype: object

In [48]:
dframe = DataFrame(randn(25).reshape(5,5), index=['A','B','D','E','F'], 
                   columns=['cal1', 'cal2', 'cal3','cal4','cal5'])
dframe

       cal1      cal2      cal3      cal4      cal5
A -1.883635 -2.077975  1.206100  0.456369  0.594310
B  0.485722 -0.467968  1.419938  0.457519 -0.488430
D -1.723167 -1.431088  0.359300 -0.397206 -0.275079
E -0.868629 -0.143497  1.154338 -0.931055 -1.549232
F  1.030173  0.078493 -0.824530 -3.416820  0.627986

In [50]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'], fill_value=0)
dframe2

       cal1      cal2      cal3      cal4      cal5
A -1.883635 -2.077975  1.206100  0.456369  0.594310
B  0.485722 -0.467968  1.419938  0.457519 -0.488430
C  0.000000  0.000000  0.000000  0.000000  0.000000
D -1.723167 -1.431088  0.359300 -0.397206 -0.275079
E -0.868629 -0.143497  1.154338 -0.931055 -1.549232
F  1.030173  0.078493 -0.824530 -3.416820  0.627986

In [59]:
dframe.loc[['A','B','C','D','E','F'], ['cal1', 'cal2', 'cal3','cal4','cal5']]

D:\Users\joshi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       cal1      cal2      cal3      cal4      cal5
A -1.883635 -2.077975  1.206100  0.456369  0.594310
B  0.485722 -0.467968  1.419938  0.457519 -0.488430
C       NaN       NaN       NaN       NaN       NaN
D -1.723167 -1.431088  0.359300 -0.397206 -0.275079
E -0.868629 -0.143497  1.154338 -0.931055 -1.549232
F  1.030173  0.078493 -0.824530 -3.416820  0.627986