In [1]:
import numpy as np
import pandas as pd

In [5]:
from pandas import Series, DataFrame

In [8]:
ser = Series([3,6,9,12])
ser

0     3
1     6
2     9
3    12
dtype: int64

In [86]:
ser.values

array([ 3,  6,  9, 12], dtype=int64)

In [87]:
ser.index

RangeIndex(start=0, stop=4, step=1)

In [89]:
w2ser = Series([8700000, 4300000, 2100000, 3000000, 4000000], index=['China','India','Nepal','Bhutan','Myanmar'])

In [90]:
w2ser

China      8700000
India      4300000
Nepal      2100000
Bhutan     3000000
Myanmar    4000000
dtype: int64

In [91]:
w2ser[w2ser >= 4000000]

China      8700000
India      4300000
Myanmar    4000000
dtype: int64

In [92]:
'b' in w2ser

False

In [93]:
w2dict = w2ser.to_dict()

In [94]:
w2dict

{'China': 8700000,
 'India': 4300000,
 'Nepal': 2100000,
 'Bhutan': 3000000,
 'Myanmar': 4000000}

In [97]:
cont = ['China','Germany','Japan','Argentina','Russia','India']

In [99]:
obj2 = Series(w2dict, index=cont)
obj2

China        8700000.0
Germany            NaN
Japan              NaN
Argentina          NaN
Russia             NaN
India        4300000.0
dtype: float64