In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A -0.170792
1  2000-01-04        A  0.110642
2  2000-01-05        A  1.339071
3  2000-01-03        B -1.171540
4  2000-01-04        B  1.364571
5  2000-01-05        B  0.575244
6  2000-01-03        C  0.322806
7  2000-01-04        C -0.116036
8  2000-01-05        C  0.550556
9  2000-01-03        D  0.266752
10 2000-01-04        D -0.836211
11 2000-01-05        D  0.273280

In [6]:
dframe_piv = dframe.pivot('date','variable','value')

In [7]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.170792 -1.171540  0.322806  0.266752
2000-01-04  0.110642  1.364571 -0.116036 -0.836211
2000-01-05  1.339071  0.575244  0.550556  0.273280

In [19]:
years = [1990,1991,1992,2008,2012,2015,1987,1969,2013,2008,1999]

In [20]:
decade_bins = [1960,1970,1980,1990,2010,2020]

In [21]:
decade_cat = pd.cut(years, decade_bins)

In [22]:
decade_cat

[(1980, 1990], (1990, 2010], (1990, 2010], (1990, 2010], (2010, 2020], ..., (1980, 1990], (1960, 1970], (2010, 2020], (1990, 2010], (1990, 2010]]
Length: 11
Categories (5, interval[int64]): [(1960, 1970] < (1970, 1980] < (1980, 1990] < (1990, 2010] < (2010, 2020]]

In [23]:
pd.value_counts(decade_cat)

(1990, 2010]    5
(2010, 2020]    3
(1980, 1990]    2
(1960, 1970]    1
(1970, 1980]    0
dtype: int64

In [24]:
pd.cut(years,2,precision=1)

[(1969.0, 1992.0], (1969.0, 1992.0], (1969.0, 1992.0], (1992.0, 2015.0], (1992.0, 2015.0], ..., (1969.0, 1992.0], (1969.0, 1992.0], (1992.0, 2015.0], (1992.0, 2015.0], (1992.0, 2015.0]]
Length: 11
Categories (2, interval[float64]): [(1969.0, 1992.0] < (1992.0, 2015.0]]

In [25]:
print (decade_cat)

[(1980, 1990], (1990, 2010], (1990, 2010], (1990, 2010], (2010, 2020], ..., (1980, 1990], (1960, 1970], (2010, 2020], (1990, 2010], (1990, 2010]]
Length: 11
Categories (5, interval[int64]): [(1960, 1970] < (1970, 1980] < (1980, 1990] < (1990, 2010] < (2010, 2020]]

In [44]:
df = DataFrame(years,decade_cat, columns=['Data'])

In [45]:
df

              Data
(1980, 1990]  1990
(1990, 2010]  1991
(1990, 2010]  1992
(1990, 2010]  2008
(2010, 2020]  2012
(2010, 2020]  2015
(1980, 1990]  1987
(1960, 1970]  1969
(2010, 2020]  2013
(1990, 2010]  2008
(1990, 2010]  1999